html {
  font-family: system-ui, sans-serif;
  background-color: lightblue;
}

#container {
  display: flex;
  flex-direction: row-reverse;
}

#marcador {
  width: fit-content;
  height: 100px;
  margin: 20px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: rgba(211, 211, 211, 0.712);
  border-radius: 5px;
  box-shadow: 1px 2px 3px 5px rgba(10, 10, 10, 0.2);
}

#marcador h1 {
  font-size: larger;
  font-weight: bold;
}

#rana {
  display: flex;
  margin: auto;
  width: 300px;
  height: auto;
  border-radius: 20px;
  box-shadow: 1px 2px 3px 4px rgb(10, 10, 10, 0.2);
}