* {
  font-family: system-ui, sans-serif;
  background: lightcyan;
  box-sizing: border-box;
}

/* Estilos del contenedor */
#contenedor {
  width: 100vw;
  height: 100vh;

  position: relative;
  overflow: hidden;
}

/* Estilos de las figuras */
.figura {
  z-index: 999;
}

#circulo {
  position: absolute;
  width: 200px;
  top: 20px;
  left: 20px;
  cursor: grab;
}

#triangulo {
  position: absolute;
  width: 200px;
  top: 20px;
  left: 300px;
  cursor: grab;
}

#rectangulo {
  position: absolute;
  width: 200px;
  top: 20px;
  left: 600px;
  cursor: grab;
}

#almacen {
  position: absolute;
  border-radius: 10px;
  width: 70%;
  left: 15%;
  height: 200px;
  bottom: 20px;
}

.caja {
  background-color: lightcoral;
  border-radius: 10px;
  position: relative;
  margin: 20px;
  width: 250px;
  height: 150px;
  float: left;
  text-align: center;
  z-index: 1;
}